<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>팀 상세정보</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">팀 목록</th>
    </tr>
    </thead>
    <tbody>
    {{#teamList}}
        <tr>
            <td>
                <form action="/detail/players" method="post">
                <input type="hidden" value="{{tno}}" name="tno">
                    <button id="test" type="submit">상세정보</button>
                </form>
            </td>
            <td>{{logo}}{{tname}}</td>
        </tr>
    {{/teamList}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th scope="col">선수 목록</th>
    </tr>
    </thead>
    <tbody>
    {{#playerList}}
        <tr>
            <td>{{pno}}</td>
            <td>{{pname}}</td>
            <td>{{position}}</td>
            <td>{{att}}</td>
            <td>{{pas}}</td>
            <td>{{def}}</td>
        </tr>
    {{/playerList}}
    {{#teamList}}
        <tr>
            <td>{{history}}</td>
            <td>{{alias}}</td>
        </tr>
    {{/teamList}}
    </tbody>
</table>
</body>
</html>
<script>
    const testBtn = document.querySelector(".test");

    testBtn.addEventListener("click", {
        const url = "http://192.168.5.156:8080/api/teamlist";
        fetch(url, {
            method: "get",
        }).then(response => {
         alert(response);
            const msg = (response.ok) ? "댓글 수정 완료" : "댓글 수정 실패..!";
            alert(msg);
        });

        });

    });

    //수정 REST API 호출 - fetch() 이용


               //response가 왔을 때

            //http 응답 코드에 따른 메시지 출력


    });



</script>